.detailpage-div{
    margin: 50px 50px;
}

.detail-info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-name-div{ 
    display: flex;
    align-items: center;
}

.detail-name-item{
    margin-right: 5px;
}

.detail-img{
    width: 80px;
}

.detail-price-div{
    display: flex;
    align-items: center;
}

.detail-price-item{
    margin-right: 20px;
}

.detail-markets-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 100px;
    font-size: 0.85rem;
    font-weight: 600;
}

.detail-market-div{
    display: flex;
    justify-content: space-between;
    border-style: none none solid none;
    border-color: rgb(221, 217, 217);
}

.detail-button-div{
    display: flex;
    justify-content: space-between;
}

.detail-graph-button{
    background-color: #101c2c;
    transition-duration: 0.5s;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 50px 0 50px 0
}

.detail-graph-button:hover{
    background-color: #33465f;
}

@media only screen and (max-width: 800px){
    .detail-markets-container{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        column-gap: 100px;
        font-size: 0.85rem;
        font-weight: 600;
    }

    .detail-button-div{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
    }

    .detail-graph-button{
        margin: 20px 5px;
    }
}

@media only screen and (max-width: 650px){
    .detail-graph-button-div{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .detail-graph-container-div{
        display: grid;
        align-items: center;
        overflow:scroll;
    }

    .line-style{
        margin:"0 -200px 0 0"
    }
}