.exchange-grid-container-scroll{
    display: grid;
    overflow:scroll;
    border-style: solid none solid none ;
}

.exchange-grid-container{
    display: grid;
    /*grid-template-columns: 0.1fr repeat(2, 1fr);*/
    grid-template-columns: 10% 60% 50%;
    align-items: center;
    border-style: none none solid none ;
    border-color: #33465f;
    border-width: 0.5px;
    overflow: visible;
    margin: 0 20px;
    transition-duration: 0.5s;
} 

.exchange-div{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 0.2fr));
    justify-items: start;
    align-items: center;
    border-style: none none none none ;
    border-color: #33465f;
    border-width: 0.5px;
}

.exchange-div2{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    justify-items: end;
    gap: 170px;
    border-style: none none solid none ;
    border-color: #33465f;
    border-width: 0.5px;
}

.exchange-img{
    width: 2rem;
}

.exchange-h3{
    font-weight: 400;
    font-size: 0.9rem;
}

.single-header{
    font-weight: 600;
}