.navbar-div{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    padding: 0 50px;
}

.navbar-header{
    text-decoration: none;
    color: white;
}

.navbar-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin: 0 30px;
}

.navbar-links-div{
    justify-self: end;
}

.navbar-info{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #101c2c;
    justify-content: center;
    border-style: none none solid none;
    border-width: 0.1px;
    color: #33465f;
    margin-top: 20px;
}

.navbar-info-data{
    color: #7b90f0;
    margin: 0 4rem 0 0;
}

.navbar-menu-icon{
    display: none;
}

.navbar-menu-icon-div{
    display: none;
}

@media only screen and (max-width: 800px){
    .navbar-info{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
    }

    .navbar-links-div{
        display: none;
    }

    .navbar-menu-icon-div{
        display: flex;
        justify-content: flex-end;
    }

    .navbar-menu-icon{
        background-color: white;
        color: black;
        display: block;
        font-size: 1.6rem;
        padding: 4px;
        border-radius: 5px;
    }

}
