.single-grid-container{
    display: grid;
    grid-template-columns: 0.1fr repeat(2, 1fr);
    overflow: hidden;
    align-items: center;
    border-style: solid none solid none ;
    border-color: #33465f;
    border-width: 0.5px;
    margin: 0 20px;
    transition-duration: 0.5s;
}


.single-grid-container:hover {
    background-color: #182434;;
}

.single-div{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 0.2fr));
    justify-items: start;
    align-items: center;

}

.single-div2{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    justify-items: end;
    gap: 170px;
}


.single-img{
    width: 2rem;
}

.single-h3{
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
}

.single-header{
    font-weight: 800;
}

/*<---------- TRENDING ---------->*/

.trending-div{
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    text-align: center;
}

.trending-title{
    font-size: 1.2rem;
    font-weight: 500;
}

.trending-img{
    width: 5rem;
}

.trending-rank{
    margin: 0;
}

.trending-price{
    margin: 0;
}

.trendingCoin-div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}